<%- include("../partials/header.ejs") %>
<h2 class="genre-title">Category: <%= title %></h2>
<div class="content">
    <% if (animeList && animeList.length > 0) { %>
        <% animeList.forEach(anime => { %>
            <div class="anime-card">
                <a href="/anime/<%= anime.mal_id %>">
                    <div class="card-image-wrapper">
                        <img src="<%= anime.images.jpg.large_image_url %>" alt="<%= anime.title %>">
                    </div>
                    <div class="card-body">
                        <h5><%= anime.title %></h5>
                        <p><i class="fa-solid fa-star"></i> <%= anime.score %></p>
                        <p>Age Rating: <%= anime.rating %></p>
                        <p>Year & Season: <%= anime.year %> <%= anime.season %></p>
                    </div>
                </a>
            </div>
        <% }); %>
    <% } else { %>
        <p>No anime found in this category.</p>
    <% } %>
</div>
<div class="pagination">
    <% 
        const baseUrl = (locals.type === 'search') 
            ? `/search?q=${encodeURIComponent(searchQuery)}&` 
            : `/genre/${genreId}/${genreName}?`;
    %>
    <% if (currentPage > 1) { %>
        <a href="<%= baseUrl %>page=1" class="btn">«</a>
        <a href="<%= baseUrl %>page=<%= currentPage - 1 %>" class="btn">‹</a>
    <% } %>

    <% 
        let startPage = Math.max(1, currentPage - 2);
        let endPage = Math.min(lastPage, startPage + 4);
        
        if (endPage - startPage < 4) {
            startPage = Math.max(1, endPage - 4);
        }
    %>

    <% for(let i = startPage; i <= endPage; i++) { %>
            <a href="<%= baseUrl %>page=<%= i %>" 
               class="page-num <%= i === currentPage ? 'active' : '' %>">
                <%= i %>
            </a>
    <% } %>

    <% if (hasNextPage) { %>
        <a href="<%= baseUrl %>page=<%= currentPage + 1 %>" class="btn">›</a>
        <a href="<%= baseUrl %>page=<%= lastPage %>" class="btn">»</a>
    <% } %>
</div>
<%- include("../partials/footer.ejs") %>